body{
	margin: 0%;
	font-family: Arial;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	display: inline;
	float: right;
}

a {
	color: black;
	text-decoration: none;
}

li a:hover {
	text-decoration: underline;
}

input {
	border:1px solid #eaeaea;
	box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
}

input:hover, input:focus {
	box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.1);
}

input[type="submit"] {
	background-color: #f2f2f2;
	color: #757575;
	font-size: 14px;
	margin: 11px 4px 11px 4px;
	padding: 8px 16px 8px 16px;
	border: 1px solid #f2f2f2;
	height: 32px;
}

input[type="submit"]:hover {
	border: 0.9px solid #BBBABA;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #f8f8f8;
	color: #222222;
}

.search {
	height: 32px;
	width: 559px;
	padding: 3px 10px 3px 10px;
}

#top {
	position: absolute;
	top: 12px;
	width: 100%;
	line-height: 30px;
	height: 30px;
}

#top li {
	padding-right: 15px;
}

#middle {
	height:358px;
	margin-top:89px;
	text-align: center;	
	height:100%;
	min-height: 100%;
	padding-bottom: 80px;
}

#search{
	padding-top: 20px;
	list-style-type: none;
	float: none;
	line-height: 27px;
}

#bottom {
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #f2f2f2;
	color: #757575;
	line-height: 40px;
	display: block;
	border-top: 1px solid #D0D0D0;
	height: 40px
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#bottom a {
	color: #757575;
}

#bottom li,p {
	padding-left: 27px;
	margin: 0;
}